name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  build:
    permissions:
      contents: write  # for softprops/action-gh-release to create GitHub release
    runs-on: ubuntu-latest
    environment: release
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: latest-10
          standalone: true
      - name: Setup Node
        run: pnpm env use -g 24.11.1
        timeout-minutes: 1
      - name: npm install
        run: |
          pnpm install --global npm@11.6.2
          npm -v
      - name: pnpm install
        run: pnpm install
      - name: Publish Packages
        run: pnpm publish
